{% extends "base_html5.html" %}
{% load staticfiles sniplates system_tags %}


{% block eye-catcher %}
<header class="container-fluid eye-catcher">
    <div class="container">Hello world</div>
</header>
{% endblock eye-catcher %}


{% block content %}
<div id="hook-1" style="border:solid 1px grey; margin-bottom: 1em; min-height: 1em; padding: 1em;"></div>
<div id="hook-2" style="border:solid 1px grey; margin-bottom: 1em; min-height: 1em; padding: 1em;"></div>
<div id="hook-3" style="border:solid 1px grey; margin-bottom: 1em; min-height: 1em; padding: 1em;"></div>
<div id="hook-4" style="border:solid 1px grey; margin-bottom: 1em; min-height: 1em; padding: 1em;"></div>
{% endblock %}


{% block js_no_compress %}
    {% load_widgets js='sniplates/js.html' %}
    {% widget 'js:systemjs-base' %}

    {% systemjs_import 'js/experimental.js' %}
{% endblock %}
